New folder/Vicrila/.idea/.name
New folder/Vicrila/.idea/Vicrila.iml
New folder/Vicrila/.idea/encodings.xml
New folder/Vicrila/.idea/jsLibraryMappings.xml
New folder/Vicrila/.idea/misc.xml
New folder/Vicrila/.idea/modules.xml
New folder/Vicrila/.idea/scopes/scope_settings.xml
New folder/Vicrila/.idea/vcs.xml
New folder/Vicrila/.idea/workspace.xml
Test/Vicrila/.idea/.name
Test/Vicrila/.idea/Vicrila.iml
Test/Vicrila/.idea/encodings.xml
Test/Vicrila/.idea/jsLibraryMappings.xml
Test/Vicrila/.idea/misc.xml
Test/Vicrila/.idea/modules.xml
Test/Vicrila/.idea/scopes/scope_settings.xml
Test/Vicrila/.idea/vcs.xml
Test/Vicrila/.idea/workspace.xml
/App_Data/
/aspnet_client/
/bin/